<script type="text/javascript">
    // Set the data as global variables so that React can access it on initial load without having to make a trip to the server
    window.initialContestData = <%- JSON.stringify(initialContestData) -%>;
    window.initialEntriesData = <%- JSON.stringify(initialEntriesData) -%>;
    window.initialUserData = <%- JSON.stringify(initialUserData) -%>;
    window.accountPage = <%- accountPage -%>;

    window.ogImageUrl = "https://captionwars.com/images/contests/5cbe30b464a2a67f6d890fe4.jpg";
</script>

<%- include('header') -%>
<div id="root">
    <%- initialMarkup %>
</div>

<%- include('footer') -%>
